@import "vars"
@import "fonts"
@import "libs"

::selection
	background-color: $accent
	color: $white

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline
	box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

ol, ul
	list-style: none

table
	border-collapse: collapse
	border-spacing: 0

a
	color: inherit
	&:hover
		color: inherit
		text-decoration: none

input
	&[type="number"]
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
			-webkit-appearance: none
			margin: 0
		-moz-appearance: textfield
		&:hover, &:focus
			-moz-appearance: number-input
	&[type=number]
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			-webkit-appearance: none
			margin: 0

section, header
	height: auto
	position: relative
	z-index: 10

input,textarea
	background-color: $bgcolor
	outline: none
	height: 54px
	border-radius: 4px
	border: 1.2px solid $border
	outline: none
	padding: 8px 16px
	width: 100%
	color: $colorTitle
	position: relative
	display: block
	&::placeholder
		color: $border
input
	font-size: 20px
textarea
	height: 100px
	resize: none
	font-size: 18px

.active
	textarea
		border-color: $green

.shadow
	box-shadow: 0px 0px 29px -10px rgba($black,0.75)
///////////////end reset

body
	font-size: 16px
	min-height: 100vh
	width: 100%
	position: relative
	line-height: normal
	overflow-x: hidden
	font-family: $default-font
	color: $color
	&.isfooter
		display: flex
		justify-content: center
		align-items: flex-end
		footer
			display: block
	&.main_view
		.main_right_wrapper
			right: 0
	&.start_quiz
		.quiz_wrapper
			right: 0
	&.final_step
		.final_step_wrapper
			right: 25vw
		.main_wrapper
			left: -100%
	&.final_textarea
		#content
			display: block

#content
	display: none

.main_right_wrapper
	position: fixed
	width: 45vw
	height: 100vh
	right: -100%
	top: 0
	background-color: $bgcolor
	border-left: 1px solid $border
	display: flex
	justify-content: center
	align-items: center
	z-index: 1
	transition: right .5s ease-in-out
	.top_img
		width: 100%
		height: 40vh
		margin-bottom: 16px
		display: none
	.logo_line
		position: absolute
		width: 100%
		height: 80px
		padding: 8px 44px
		top: 0
		left: 0
		right: 0
		border-bottom: 1px solid $border
		display: flex
		flex-direction: row
		align-items: center
		justify-content: flex-start
		img
			width: auto
			height: 100%
			max-height: 70px
			display: block
			margin-right: auto
			margin-right: 16px
		.text_in
	.content_wrapper
		padding: 0 44px
		.title
			font-size: 30px
			font-weight: 700
			line-height: 1.2
			color: #020202
			margin-bottom: 24px
		.description
			font-size: 18px
			font-weight: 500
			line-height: 1.33
			margin-bottom: 32px
		.button
			min-height: 55px
			width: fit-content
			max-width: 180px
			min-width: 140px
			box-shadow: 0 1px 4px 0 rgba($accent,.2)
			color: $buttonColor
			border-radius: 40px
			font-size: 18px
			border: none
			cursor: pointer
			background-color: $accent
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			text-align: center
			padding: 8px 16px
			.fa
				margin-right: 8px
				font-size: 18px

.quiz_wrapper
	position: fixed
	width: 100vw
	min-height: 100vh
	overflow: auto
	top: 0
	right: -100%
	background-color: $bgcolor
	z-index: 20
	transition: right .5s ease-in-out
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	.main_wrapper
		position: absolute
		width: 50vw
		min-height: 60vh
		height: auto
		border: 4px solid $border
		display: flex
		flex-direction: row
		justify-content: space-between
		left: 25vw
		transition: left .5s ease-in-out
		.left_part
			width: 65%
			min-height: 60vh
			position: relative
			padding: 30px 0 95px 30px
			.constant_title
				font-size: 16px
				text-align: left
				font-weight: 500
				margin-bottom: 16px
				display: flex
				flex-direction: row
				.fa
					color: $accent
					display: block
					margin-right: 8px
				span
					display: block
			.quiz_item
				.question_title
					font-size: 28px
					text-align: left
					line-height: 1.2
					font-weight: 500
					color: $colorTitle
					margin-bottom: 16px
				.tips_line
					width: 100%
					height: auto
					display: flex
					flex-direction: row
					flex-wrap: wrap
					.tip
						width: auto
						height: auto
						padding: 4px 8px
						background-color: $white
						border: 1px solid $border
						margin: 0 16px 16px 0
						border-radius: 4px
						&:last-child
							margin-right: 0
				.answer_list
					width: 100%
					height: auto
					display: flex
					flex-direction: row
					justify-content: space-between
					flex-wrap: wrap
					.answer_input
						height: auto
						margin-bottom: 16px
						display: flex
						flex-direction: row
						align-items: center
						justify-content: flex-start
						&.full_width 
							width: 100%
						&.half_width
							width: 48%
						&.checkbox
							padding: 8px 16px
							border: 1px solid $border
							border-radius: 4px
							min-height: 64px
							cursor: pointer
							position: relative
							.answer_text
								position: relative
								display: flex
								flex-direction: row
								align-items: center
								width: 100%
								margin-left: auto
								padding-left: 30px
								&:before
									content: ""
									width: 20px
									height: 20px
									border-radius: 50%
									background-color: $border
									display: block
									margin-right: 16px
									position: absolute
									left: 0
									top: 50%
									margin-top: -10px
							&.active
								border-color: $accent
								color: $accent
								.answer_text
									&:before
										background-color: $accent
										border: 4px solid $border
							input, textarea
								width: 100%
								&[type=checkbox]
									width: 20px
									height: 20px
									display: none
						.simple_input_wrapper
							width: 100%
							position: relative
							overflow: hidden
							&.active
								&:after
									right: -100px
								&:before
									right: 8px
								input
									border-color: $green
							&:after
								content: url(../img/wrong.png)
								position: absolute
								right: 8px
								top: 50%
								margin-top: -10px
								z-index: 2	
								transition: right .5s				
							&:before
								content: url(../img/accept.png)
								position: absolute
								right: -100px
								top: 50%
								margin-top: -10px
								z-index: 2
								transition: right .5s
							input
								padding-right: 28px
						textarea
			.navigation_line
				width: 100%
				height: 80px
				padding: 0 0 30px 30px
				position: absolute
				bottom: 0
				left: 0
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				.progress_line_wrapper
					width: 55%
					.progress_title
						color: $colorTitle
						margin-bottom: 16px
						.current_step
						.all_steps
					.progress_line
						width: 100%
						height: 10px
						border-radius: 10px
						background-color: $border
						display: flex
						flex-direction: row
						align-items: center
						justify-content: flex-start
						.progress_part
							width: 20%
							height: 100%
							background-color: $accent
							&:first-child
								border-radius: 10px 0 0 10px
							&:last-child
								border-radius: 0 10px 10px 0
				.button_line
					width: auto
					display: flex
					flex-direction: row
					justify-content: flex-end
					align-items: center
					padding-left: 50px
					position: relative
					.button_back
						position: absolute
						z-index: 1
						left: 0
						width: 45px
						height: 45px
						border-radius: 50%
						display: flex
						justify-content: center
						align-items: center
						background-color: $white
						cursor: pointer
						margin-right: 8px
						color: $border
						.fa
					.button
						min-width: 120px
						height: 45px
						padding: 8px 16px
						border-radius: 24px
						cursor: pointer
						outline: none
						background-color: $accent
						color: $buttonColor
						display: flex
						justify-content: center
						align-items: center
						position: relative
						z-index: 2
						.fa
							display: block
							margin-left: 8px
		.right_part
			position: relative
			width: 30%
			padding: 30px 30px 0
			overflow: hidden
			min-height: 60vh
			z-index: 15
			transition: bottom .5s
			&.rotate_fa
				.go_top
					.fa
						transform: rotate(180deg)
			.go_top
				position: absolute
				width: 100%
				height: 40px
				display: flex
				justify-content: center
				align-items: center
				cursor: pointer
				top: -40px
				left: 0
				z-index: 15
				background-color: $bgcolor
				.fa
					color: $accent
					font-size: 32px
					transition: all .5s
			.description
				width: auto
				height: auto
				border: 1px solid $border
				background-color: $white
				font-size: 14px
				padding: 4px 8px
				margin-bottom: 16px

	.final_step_wrapper
		position: absolute
		width: 50vw
		min-height: 60vh
		height: auto
		border: 4px solid $border
		display: flex
		flex-direction: column
		padding: 32px 24px
		right: -100%
		transition: right .5s ease-in-out
		.top_wrapper
			width: 100%
			height: auto
			text-align: center
			.top_symbal
				width: 100%
				margin-bottom: 32px
				.fa
					font-size: 54px
					color: $accent
			.title
				font-size: 32px
				color: $colorTitle
				margin-bottom: 24px
		.bottom_wrapper
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			justify-content: space-between
			.ff_left_wrapper
				width: 55%
				.content
					margin-bottom: 16px
				textarea
			.ff_right_wrapper
				width: 40%
				.final_form
					.form_input_title
						color: $colorTitle
						font-size: 18px
						margin-bottom: 8px
					.input_wrapper
						position: relative
						display: flex
						flex-direction: row
						align-items: center
						margin-bottom: 16px
						.fa
							display: block
							position: absolute
							left: 12px
							font-size: 30px
							z-index: 2
						input
							padding-left: 40px
					.use_messenager_button
						text-align: center
						margin-bottom: 16px
						cursor: pointer
						&:hover
							color: $accent
						.fa
							color: $accent
							font-size: 20px
							display: inline-block
							margin-right: 8px
						span
					.form_button
						width: 100%
						height: 56px
						border: none
						border-radius: 6px
						background-color: $accent
						color: $white
						display: flex
						flex-direction: row
						justify-content: center
						align-items: center
						cursor: pointer
						outline: none
						font-size: 20px
						margin-bottom: 16px
						.fa
							display: block
							margin-right: 8px
				.politic_wrapper
					width: 100%
					height: auto
					display: block
					display: flex
					flex-direction: row
					align-items: center
					padding-left: 24px
					position: relative
					&.active
						.confid_wrap
							border-color: $color
							.fa
								color: $color
					.confid_wrap
						width: 16px
						height: 16px
						border-radius: 4px
						border: 2px solid $accent
						color: $color
						position: relative
						display: flex
						justify-content: center
						align-items: center
						position: absolute
						left: 0
						cursor: pointer
						.fa
							display: block
							font-size: 16px
							color: transparent
					span
						display: block
						padding-top: 2px
						a
							text-decoration: underline


.second_window
	width: 100%
	.window_title
		font-size: 18px
		color: $colorTitle
		text-align: center
		margin-bottom: 16px
	.messenger_list
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		.messendger
			width: 48%
			height: 40px
			border-radius: 6px
			border: 1px solid $border
			display: flex
			flex-direction: row
			align-items: center
			padding-left: 32px
			position: relative
			cursor: pointer
			margin-bottom: 16px
			img
				position: absolute
				width: 20px
				height: auto
				left: 4px
			.title
		.messenager_button
	.back_to_contacts
		width: 100%
		height: auto
		margin: 0 auto 32px
		cursor: pointer
		text-align: center
		&:hover
			color: $accent

.third_window
	width: 100%
	position: relative
	.final_title
		width: 100%
		height: auto
		display: flex
		flex-direction: column
		align-items: center
		img
			display: block
			margin-bottom: 24px
		.title
			color: $colorTitle
			margin-bottom: 8px
	.simple_input_wrapper
		position: relative
		width: 100%
		height: auto
		margin-bottom: 16px
		input
			width: 100%
			height: 40px
			font-size: 14px
			padding: 4px 8px
	.messenager_button
		text-align: center
		margin-bottom: 16px
		cursor: pointer
		margin-bottom: 32px
		&:hover
			color: $accent




footer
	position: relative
	z-index: 1
	width: 100%
	height: auto
	padding: 32px 0
	background-color: $bgcolor
	border-top: 1px solid $border
	display: none
	.mob_click_button
		width: 100%
		height: auto
		text-align: center
		padding: 8px 0
		color: $accent
		cursor: pointer
		&.bottom_view
			.fa
				transform: rotate(180deg)
		.fa
			display: block
			font-size: 32px
			transition: all .5s
	.footer_wrapper
		position: relative
		width: 65%
		height: auto
		margin: auto
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		font-size: 14px
		li
			margin-bottom: 16px
			text-align: center
.thank
	display: flex
	justify-content: center
	align-items: center
	.thank_main_wrapper
		width: 50vw
		height: 60vh
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		text-align: center
		border: 4px solid $border
		padding: 40px
		.fa
			font-size: 50px
			color: $accent
			margin-bottom: 32px
		.title
			font-size: 32px
			margin-bottom: 16px
			color: $colorTitle
		.description
			font-size: 22px
			color: $color

.button_merz
	will-change: transform
	background: linear-gradient(-72deg, $accent 30%, $white 15%, $white 32%, $accent 32%)
	background-size: 400% 400%
	animation: animation_merc 4s ease infinite
	animation-direction: normal
	&:hover
		opacity: .8

@-webkit-keyframes animation_merc
	0%
		background-position: 100% 50%
	100%
		background-position: 0 51%

@keyframes animation_merc
	0%
		background-position: 100% 50%
	100%
		background-position: 0 51%







@import "media" // Always at the end